.form {

    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    .form-content {
        min-width: 30%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Poppins', sans-serif;
        .error {
            color: red;
        }

        

        .form-section {
            width: 100%;
            text-align: left;

            .file-upload {
                
                .file-upload-input {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }

                .file-upload-label {
                    background: #D05400;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;
                    width: 120px;
                    height: 120px;
                    color: white;
                    font-size: 16px;
                    border-radius: 5px;
                    text-align: center;
                    transition: background 0.3s ease, transform 0.3s ease;
                    outline: none;
                    /* display: inline-block; */
                    cursor: pointer;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    
                }
                
                .file-upload-label:hover {
                    background: #0056b3;
                    transform: translateY(-2px);
                    
                }
                
                .file-upload-label:active {
                    background: #003f80;
                    transform: translateY(0);
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                }
                
                .file-upload-input:focus + .file-upload-label {
                    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
                }

                .file-upload-preview {
                    margin-top: 30px;
                    margin-right: 30px;
                    width: 120px;
                    height: 120px;
                    object-fit:cover;
                    border: 2px solid gray;
                    border-radius: 5px;
                }

                .file-upload-info {
                    font-size: small;
                }
            }

            .required {
                color: red;
            }

            .input {
                box-sizing: border-box;
                width: 100%;
                height: 60px;
                border: 2px solid #008AD0;
                /* border: none; */
                border-radius: 5px;
                padding: 15px;
            }

            
            
            .select {
                width: 100%;
                height: 60px;
                /* margin: none; */
                padding: 15px;
                border: 2px solid #008AD0;
                border-radius: 5px;
            }

            .title {
                font-size: xx-large;
                font-weight: 600;
                color: #008AD0;
            }

            .subTitle {
                color: #D05400;
                font-weight: 500;
            }

            .qr-codes {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                /* overflow-wrap: normal; */
                /* overflow: scroll; */
                width: 100%;
                .qr-code-container {
                    margin: 50px;
                    display: flex;
                    flex-direction: column;
                    /* width: 100%; */
                    align-items: center;
                    .qr-code {
                        width: 250px;
                        margin: auto;
                    }
                    .app-store-button {
                        background-color: black;
                        padding: 15px;
                        text-decoration: none;
                        color: white;
                        border-radius: 10px;
                    }
                }
            }


            .nav-buttons {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-top: 40px;

                .form-button {
                    font-size: medium;
                    width: 120px;
                    height: 50px;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }

                .commercial {
                    /* align-self: flex-start; */
                    background-color: #008AD0;
                }

                .residential {
                    margin-left: 10px;
                    background-color: #D05400;
                }

                .yes {
                    background-color: #008AD0;
                }

                .No {
                    margin-left: 10px;
                    background-color: #D05400;
                }

                .back {
                    background-color: #D05400;
                }

                .backToHome {
                    margin-top: 10px;
                    background-color: #008AD0;
                    width: 120px;
                }

                .next {
                    /* align-self: flex-end; */
                    margin-left: auto;
                    background-color: #008AD0;
                }

                .submit {
                    margin-left: auto;
                    background-color: #008AD0;
                }
            }
        }
    }
}